{% extends 'base.html' %}

{% block title %}Nomad - Profiles{% endblock %}

{% block content %}
<h4><center>Available Rides</center></h4>
    {% if request.user.profile.is_passenger %}
        {% if profiles %}
            {% for profile in profiles %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ profile.profile.user }}</h5>
                <small class="text-muted">{{ profile.timestamp }}</small>
                </div>
                <p class="mb-1"><img src="" style="height: 75px; width: auto"><br>Starting: {{ profile.profile.starting }}</p>

                <p class="mb-1"><img src="" style="height: 75px; width: auto"><br>Going: {{ profile.profile.destination }}</p>
                <br>
                <small><button>Request</button></small>
                <hr class="breakline">
            {% endfor %}
        {% else %}
            <div class="alert alert-primary" role="alert">Currently there are no drivers</div>

        {% endif %}

    {% else %}
    <h1> Thanks for being a driver</h1>
    <br><br>
    <a href="{% url 'get-ride-page' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Your Route</a>
    <!-- Button with a list of riders -->

    <a href="{% url 'get-riders-page' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Hitchers</a>

    <i class='mt-5 mb-3 fas fa-laptop' style='font-size:120px;color:white'></i>
    <i class="mt-5 mb-3 fa fa-car" style="font-size:120px;color:white;"></i>


    {% endif %}
    

{% endblock %}
